<%= form_tag import_students_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>

<table id="students">
  <tr>
    <th>Student ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Last Attend Date</th>
    <th>Total Days</th>
    <th>Days Attended</th>
  </tr>
<% @students.each do |student| %>
  <tr>
    <td><%= student.person_id%></td>
    <td><%= student.first_name%></td>
    <td><%= student.last_name%></td>
    <td><%= student.start_date%></td>
    <td><%= student.end_date%></td>
    <td><%= student.last_attend_date%></td>
    <td><%= student.total_days %></td>
    <td><%= student.days_attended %></td>
  </tr>
<% end %>
</table>
